
/* Custom styles */

.main {
  padding: 20px;
}

.parallax-section {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}
.section-1 {
  background-image: url('assets/featured.jpe');
}
.section-2 {
  background-image: url('assets/featured2.jpe');
}
.section-3 {
  background-image: url('assets/featured3.jpe');
}
.section-4 {
  background-image: url('assets/featured4.jpe');
}
